header {
	height: 100vh;
  padding-top: 5rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* BUTTONS */
.action-buttons {
  /* margin-top: .5rem; */
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* ICONS */
.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

/* adding a line at the bottom */
.icons::after{
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* PHOTO */
.photo {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}
